.landing-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.bp-title {
	color: #305c71;
	font-size: 5rem;
	font-weight: 900;
	animation: neon 5s infinite;
}

@keyframes neon {
	0%,
	39%,
	41%,
	61%,
	100% {
		text-shadow: #e8e8e8 0 -5px 12px, #f3bc78 0 -10px 24px, #f3bc78 0 -15px 36px,
			#f57c00 0 -20px 48px, #f57c00 0 -25px 60px, #ff0000 0 -30px 72px,
			#ff0000 0 -40px 96px, #ff0000 0 -45px 108px;
	}

	40%,
	60% {
		text-shadow: none;
	}
}

.bp-description {
	color: #a14b40;
	font-size: 2rem;
	text-shadow: 0 1px 3px #f3bc78;
}

.bp-enter-button {
	background-color: #305c71;
	outline: 2px solid #f3bc78;
	color: #f3bc78;
	width: 50%;
	font-size: 1.5rem;
}

.bp-enter-button:hover {
	background-color: #f3bc78;
	outline: 2px solid #305c71;
	color: #305c71;
}
